{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", {"allow":  ["_id"]}]
  },
  "plugins": ["jest"],
  "overrides": [
    {
      "files": ["tests/**"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"],
      "rules": { "jest/prefer-expect-assertions": "off" }
    }
  ]
}
